!!!
%html
  %head
    %title Empresas Chachis
    %link{ :rel => 'stylesheet', :href => '/vendor/bootstrap/css/bootstrap.min.css' }
    %link{ :rel => 'stylesheet', :href => '/css/style.css' }
  %body
    %div.wrapper
      %div.container
        %div.brand
          %span< EMPRESAS
          %span{:class=>"light"}> CHACHIS
          %p{:class=>"lead"} Hay mejores maneras de empezar

        -if not flash.empty?
          %div.flash
            =styled_flash

        = yield(:body)
