%form{ :method => 'POST', :action => '/register-company' }
  %p
    %input{ :type => 'text', :name => 'name' }
  %p
    %input{ :type => 'text', :name => 'email' }
  %p
    %input{ :type => 'text', :name => 'website' }
  %p
    %input{ :type => 'submit', :value => 'Register' }